body {
    background-color: rgba(229, 212, 237, 0.3);
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
}

header {
    width: 85%;
    border: 1px solid white;
    margin: 0 auto;
    background-color: white;
    box-shadow: 10px 10px rgba(109, 114, 195, 0.1);
    padding: 15px;
    margin-bottom: 25px;
    margin-top: -10px;
    text-align: center;
}

header h1 {
    font-family: Lato, Helvetica, sans-serif;
    font-size: 38px;
    text-transform: uppercase;
    color: rgba(29, 17, 40, 0.8);
    margin-bottom: 2px;
}

header p {
    font-weight: 700;
    color: rgba(29, 17, 40, 0.4);
    text-transform: uppercase;
}

main {
    width: 85%;
    border: 1px solid white;
    margin: 0 auto;
    background-color: white;
    box-shadow: 10px 10px rgba(109, 114, 195, 0.1);
    padding: 15px;
    margin-bottom: 25px;

}

section {
    width: 85%;
    border: 1px solid rgba(109, 114, 195, 0.2);
    margin: 0 auto;
    background-color: white;
    box-shadow: 10px 10px rgba(109, 114, 195, 0.1);
    padding: 25px;
    margin-bottom: 35px;
    margin-top: -10px;
    border-radius: 25px;
}

section h3 {
    color: rgb(29, 17, 40);
    font-family: Lato, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: -50px;
    margin-top: 3px;
    z-index: 0;
    border: 1px solid rgba(29, 17, 40, 0.2);
    background-color: white;
    box-shadow: 5px 5px rgba(29, 17, 40, 0.2);
    width: 18%;
    padding: 5px;
    text-align: center;
    
}

.work-xp {
    display: flex;
    justify-content: space-evenly;
}

.interval {
    flex: 1;
    margin-right: 10px;
}

.description {
    flex:2;
    margin-left: 10px;
}

.description p {
    margin: 30px;
}

section ul {
    list-style-type: none;
}


.skill-list {
    display: flex;
}

.skill-list img {
    flex-wrap: wrap;
    width: 20%;
}

.skill-name {
    border: 1px solid black;
    margin-left: 0px;
    padding: 3px;
    flex-wrap: wrap;
    font-family: Lato, Arial, Helvetica, sans-serif;
}

footer {
    width: 100%;
    background-color: white;
    margin-bottom: 0;
    text-align: center;
    color:rgba(89, 65, 169, 0.5);
    height: 30px;
    font-family: Lato, Arial, Helvetica, sans-serif;
}

section:hover {
    border: 1px solid rgba(109, 114, 195, 0.5);
    box-shadow: 10px 10px rgba(109, 114, 195, 0.5);
}

section h3:hover {
    font-size: 20px;
    box-shadow: 10px 10px rgba(109, 114, 195, 0.5);
}

.skill-name:hover {
    border: 1px solid rgba(109, 114, 195, 0.5);
    box-shadow: 5px 5px rgba(109, 114, 195, 0.5);
    color: rgb(81, 79, 89);
    font-family: Lato, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

