.container {
    width: 75%;
    margin: 0 auto;
}

.name {
    text-align: center;
    font-size: 20px;
    margin-bottom: 55px;
}


.container2 {
    border: 1px dashed black;
    padding: 15px;
    margin-bottom: 35px;
    position: relative;
}

.section-title {
    position: absolute;
    top: -32px;
    left: 50px;
    background-color: white;
    padding: 5px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
}

.interval {
    display: inline-block;
    width: 48%;
}

.description {
    display: inline-block;
    width: 48%;
}

.container2 img {
    width: 20%;
    height: 20%;
    float: left;
}

.container2 ul {
    list-style-type: none;
}

.container2 li {
    display: inline-block;
    width: 18%;
    margin: 5px;
}

.skill-name {
    border: 1px solid black;
    margin-left: 0px;
    padding: 3px;
    float: left;
}

.clear {
    clear: both;
}
